.menu-navegacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 150px;
}

.itens-menu-navegacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-menu-navegaçao {
  font-size: 17px;
  padding: 10px 20px;
}

.button-menu-navegacao {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.pessoa {
  max-width: 500px;
}

.texto-apresentaçao {
  font-size: 48px;
  text-align: left;
  padding-bottom: 50px;
  margin-left: 30px;
}
.nome-negrito {
  font-weight: 700;
}

.nome-verde {
  color: #1fab68;
}
.texto-explicativo {
  font-size: 16px;
  text-align: left;
  padding-bottom: 70px;
  color: #71717a;
  margin-left: 30px;
}

.apresentacao {
  padding-bottom: 180px;
  display: flex;
}

body {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.item-rede-sociais {
  font-size: 48px;
  display: flex;
  justify-content: center;
}
.redes-sociais {
  padding-bottom: 180px;
  max-width: 85%;
}

.item-experiencia {
  display: flex;
  justify-content: center;
  font-size: 48px;
  padding-bottom: 50px;
}
.desenvolvedor {
  padding-top: 10px;
  border: 2px solid #71717a;
  margin-left: 40px;
  margin-right: 70px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.desenvolvedor-google {
  font-size: 32px;
  padding-bottom: 20px;
  margin-left: 80px;
  color: #ffffff;
}
.desenvolvedor-google-texto {
  font-size: 16px;
  margin-left: 30px;
  padding-bottom: 10px;
}

.desenvolvedor-youtube {
  padding-top: 10px;
  border: 2px solid #71717a;
  margin-left: 40px;
  margin-right: 70px;
  border-radius: 20px;
}

.titulo-youtube {
  font-size: 32px;
  padding-bottom: 20px;
  margin-left: 80px;
  color: #ffffff;
}

.texto-youtube {
  font-size: 16px;
  margin-left: 30px;
  padding-bottom: 10px;
}

.titulo-aple {
  font-size: 32px;
  padding-bottom: 20px;
  margin-left: 80px;
  color: #ffffff;
}
.desenvolvedor-aple {
  padding-top: 10px;
  border: 2px solid #71717a;
  margin-left: 40px;
  margin-right: 70px;
  border-radius: 20px;
  margin-top: 30px;
}
.texto-aple {
  font-size: 16px;
  margin-left: 30px;
  padding-bottom: 10px;
}
.experiencia {
  background-color: black;
  color: #d4d4d8;
}
.topico {
  background-color: white;
  color: black;
  margin-left: 50px;
  display: flex;
}
.topico-rede:hover {
  background-color: black;
  color: white;
}
.topico-rede{
  border: 2px black solid;
  padding:16px;
  border-radius: 4px;
  color:black;
}