.menu-navegacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
padding-bottom: 150px;
}

.itens-menu-navegacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-menu-navegaçao {
  font-size: 17px;
  padding: 10px 20px;
}

.button-menu-navegacao{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.pessoa{
  max-width: 500px;
}

.texto-apresentaçao{
  font-size:48px;
  text-align:left;
  padding-bottom: 50px;
}

.texto-explicativo{
  font-size: 16px;
  text-align: left;
  padding-bottom: 70px;
  color: #71717A ;
}

.apresentacao{
  display: flex;
}

.topicos{
   max-width:320px;
}

body, a {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.item-rede-sociais{
font-size:48px;
display: flex;
justify-content: center;
}
.redes-sociais{
  max-width: 85%;
}