h1{color: blueviolet;}
h2{color: blueviolet;}
body {
    background-image: url("https://www.10wallpaper.com/wallpaper/1366x768/1712/Blue_dazzling_lines_dark_background_4K_HD_1366x768.jpg");
background-repeat: no-repeat;  
background-size: cover;
}
p{color: aliceblue;}  
 h3{color: aliceblue;}  
  a{color: rgb(57, 127, 189);}
  li{color: aliceblue;}